<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Data Base</title>
  </head>
  <body>
    <h1>Please enter your details below:</h1>
    <form  method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

    <h1>Hello! This is the user page</h1>
    <h2>Here is a list of users:</h2>

    <div class="usersTable">
      {% if users_records %}
      <table>
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </thead>
        {% for usr in users_records %}
        <tr>
          <td>{{ usr.first_name }}</td>
          <td>{{ usr.second_name }}</td>
          <td>{{ usr.email }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
        <p>No users found</p>
      {% endif %}
    </div>

  </body>
</html>
